@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
    font-family: Arial, sans-serif;
    transition: color 0.05s ease-in;
}

.dark {
    background-color: #000d19;
    color: #ffffff;
}
